:root {
    background-color: rgb(177, 177, 177);
}
.gridLivre {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    gap: 10px;
    grid-auto-rows: auto;
}
.gridLivre div {
    border: 1px solid;
    text-align: center;
}
.flex {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, select {
    border-radius: 5%;
    background: rgba(230, 230, 230, 0.801);
}